/*
When you specify CSS styles inside the @keyframes rule, the animation will
gradually change from the current style to the new style at certain times.
To get an animation to work, you must bind the animation to an element.

The following example will change the background color of an element three
times: when the animation is 50% complete, 70% complete, and when the animation is 100% complete.

@keyframes example {
   0%  {background-color: red;}
   50%  {background-color: yellow;}
   70%  {background-color: blue;}
   100% {background-color: green;}

   /* OR
	@keyframes colorchange {
	from {background-color: red;}
	to {background-color: green}
}
*/

div {
	width: 100px;
	height: 100px;
	background-color: red;
	animation-name: colorchange;
	animation-duration: 1s;
	animation-iteration-count: infinite;
}

@keyframes colorchange {
	0% {
		background-color: red;
	}
	50% {
		background-color: green;
	}
	100% {
		background-color: blue;
	}
}
