p {
	padding: 10px;
	border-style: solid;
	border-width: 5px;
	border-color: rgb(0, 153, 0);
}

p.first {
	padding: 10px;
	border-style: solid;
	border-width: 2px;
	border-color: blue;
}

p.second {
	padding: 10px;
	border-style: solid;
	border-width: 5px;
	border-color: #ff6600;
}

p.none {
	border-style: none;
}

p.dotted {
	border-style: dotted;
}

p.dashed {
	border-style: dashed;
}

p.double {
	border-style: double;
}

p.groove {
	border-style: groove;
}

p.ridge {
	border-style: ridge;
}

p.inset {
	border-style: inset;
}

p.outset {
	border-style: outset;
}

p.hidden {
	border-style: hidden;
}
